# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/
ytsent/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/processed/

# Models
*.joblib
*.h5
*.pickle
*.pkl

# Logs
logs/

# Chrome extension build
chrome-extension/build/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
